rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
  }
}

// users collection
// -any authenticated user can read and create
// - only user who 'own/created' a document can update it (user id's match)

// project collection
// - any authenticated user can read, create & update a document
// - only users who 'own/created' a document can delete it
