.sidebar {
  position: relative;
  width: 260px;
  min-width: 260px;
  background: var(--primary-color);
  min-height: 100vh;
  box-sizing: border-box;
  color: #fff;
  z-index: 12;
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar .links {
  margin-top: 80px;
  margin-left: 20px;
}
.sidebar .links li {
  margin-top: 10px;
}
@media (min-width: 1071px) {
  .sidebar .links li:nth-child(3) {
    display: none;
  }
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}
.sidebar .links a.active {
  color: #555;
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
}
.sidebar .links .active img {
  filter: invert(40%);
}

@media (min-width: 801px) {
  .sidebar .close {
    display: none;
  }
}
.sidebar .close {
  background: var(--bg-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  right: -17px;
}

.sidebar .close img {
  width: 100%;
}

.sidebar .close img.r-180 {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .sidebar.close-sidebar, .container.close-sidebar{
    transform: translateX(-250px);
  }
}
